.shop-profile-pic {
  max-width: 100%;
  max-height: 180px;
  padding: 5%;
  object-fit: cover;
}
.search-result-entry {
  height: 200px;
  /* background-color: grey; */
  /* margin-top: 15px; */
  display: flex;
  border: 1px solid black;
  margin-top: 10px;
}
/* .test {
  border: 1px solid black;
  position: relative;
} */
.distance-info {
  /* border: 1px solid blue; */
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 25px;
}
.shop-info {
  /* border: 1px solid red; */
  padding: 5px;
}
.search-grid {
  margin-top: 100px;
}
.bump {
  margin-top: 100px;
}
